%pop-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
%ub-400 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
%ub-500 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
%ub-700 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
